[Unit]
Description=Dial-a-Grue jasper instance
After=network.target auditd.service

[Service]
EnvironmentFile=-/etc/default/jasper
ExecStart=/bin/bash /home/pi/jasper/jasper.sh
ExecStop=/usr/bin/pkill -f jasper.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=jasper.service
